/* base styling*/
*{
    box-sizing:border-box;
}
.menu-box{
    background-color: lightgray;
    float:left;
    padding:10px;
    margin:10px;
    border:2px solid black;
}
.menu-title{
    position:relative;
    left:77%;
    font-size:125%;
    width:20%;
     min-width:100px;
    text-align: center;
    border: 2px solid black;
}
#chicken{ background-color:pink;
    color:black;
}
#beef{
    background-color:red;
    color:white;
}
#sushi{
    background-color:lightyellow;
    color:black;
}
@media(min-width:992px)
{
  .menu-box{
             width:30%;
      box-sizing:border-box;
           }
}
@media(min-width:768px and max-width:991px)
{
    #this{ width:50%;
            }
    #that{
          width:100%;  
            }
}
@media( max-width:767px)
{
    .menu-box{
                width:100%;
            }
}